<div class=" jumbotron">
  <div class="row">
    <div class="col-md-8 ">
      <h3>
        <strong>Liste des Collegues</strong>
      </h3>
    </div>
    <div class="col-md-5 col-md-offset-2">


      <button type="button" class="btn btn-warning  ">Raffraichir la liste</button>

    </div>
  </div>

  <div class="row ">

    <div class="mt-4 col-xs-12 col-sm-4" *ngFor="let col of colleguesTab">

      <app-collegue-component [collegue]="col"></app-collegue-component>
    </div>
  </div>
</div>