<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light unique-color lighten-4 justify-content-between text-white">
  <links>
    <form class="form-inline waves-light waves-light ml-auto" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search" type="text" [(ngModel)]="searchText"
          [ngModelOptions]="{standalone: true}">

      </div>
      <div class="md-form mt-0">
        <button mdbBtn color="default" outline="true" size="sm" class="my-0 waves-light" mdbWavesEffect (click)="raffraichir()">Raffraichir la liste</button>
      </div>
    </form>
  </links>
</mdb-navbar>
<div class="row ">

  <div class="mt-4 col-xs-12 col-sm-4" *ngFor="let collegue of colleguesTab| search : searchText">

    <app-collegue-component [collegue]=" collegue "></app-collegue-component>

  </div>
</div>