<div id="css3dimageslider" class="transparency" >
    <ul>
        <li> <img style="width: 100%;height: 100%" src="https://lh3.googleusercontent.com/1AVKLq6DLKG8nnZFVV923Zru2vV_kZPgSmEpJahmyIfS089-vy9-r0s3q9G9lLK3I2OaQ2BUp0kNWk1BSShzEHu-Ply8nCcM5dPSeO1g2ShEjN5f-AvCbujAFQ14ZHSVX311qaxNa3QWKsheth-yybVFXwbpeWAJ9cUV_sUyKtbiEi3b5f-y15qdP86GnBoa7mtISiWFlaLU6vp6llCF3LdGh2RrsZO6xtBvOhO9O5cXlm24rEnx6shTx1ylT-wL8Hj5CDjI44X0PAv95_CjB6_lf5ZDa_8i7Wfvo_lKQg9I99i8O-_bIdKW4qbZ7dKN6nbW9pgHzQrRab9JcSt4KPk1amkbLyuNd_6mTqDMdvaqIFMesr_MSZZjSqJG7QdPwdHUVS2MUNDsTK99RlfkvKA5sRIzmQuMRz74UmRDr4M1YJNf4-ArzIX9WqK_QTJv_l-U5tbUUOfLY4mcarlS-4TJuYTdTda7Scp2voqx-fYOFTlhc8FEGs6iU_uoKjCO66Vk2FNB_qOu864rU_utvt-RfzEZDdWkqpD2wGUOkEe7VipZtNgRxn5_3NVYzW5bqD5-wUxX9wduCEaYnTWv4JMKfvZsZNBZcn8HT009Zoa7KXwH_K3n4uYiHKpXiKNwCW313Xx6mTvnvC-PjTf67P_o97L2p1SvrDvNATum1WI=s500-no"> </li>
        <li> <img style="width: 100%;height: 100%" src="https://404store.com/2018/08/12/solidworks-3d-cad-web-image.png"> </li>
        <li> <img style="width: 100%;height: 100%" src="http://1.bp.blogspot.com/-_-Uyi2SaF0U/WKpkn5K9i8I/AAAAAAADEt8/EC4KYfe3PIgH3FF8qhZC9tqn282HB4XuACK4B/s1600/tumblr_ol8a5o7VJ01tjryj4o1_540.gif"> </li>
        <li> <img style="width: 100%;height: 100%" src="https://404store.com/2018/08/20/linux.png"> </li>
        
    </ul>
</div>
<!--<ul id="css3dimagePager">
<li class="list-group-item list-group-item-primary">Smiley</li>
<li class="list-group-item list-group-item-warning">Solid Works</li>
<li class="list-group-item list-group-item-danger">Résonnance de Schumann</li>
<li class="list-group-item list-group-item-success">Linux</li>
</ul>-->